<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ spiel.tab }}</title>

	<!-- Bootstrap core CSS & Custom styles for this template -->

    {% include 'includes/jp_css.html' %}

  </head>
<body style="font-family: Courier, monospace; font-size: 16px">


<!-- joepython navbar -->
{% include 'includes/jp_navbar.html' %}

<!-- Page Container -->
<div class="container">

    <!-- Header Content -->

    <div class="row">
    <!-- Post Header -->
        <div class="col-lg-8">
            <h2 class="mt-4 mb-3">{{ spiel.title }}<br/>
            <small> by {{ spiel.author }}</small>
            </h2>

            <!-- Date/Time -->
            <span style="line-height: 60%">
                <p>Posted on {{ spiel.post_date }}</p>
                <strong>[{{ spiel.thread }} Thread]</strong>
            </span>
        </div>
    <!-- /Post Header -->
{#
    <!-- Before and After Navigation-->
	{% include 'includes/jp_before_and_after.html' %}
 #}

    </div>
    <!-- Header Content -->
    <hr>

    <!-- Page Content -->
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            {% block post_content %}
            {% endblock post_content %}

        </div>  <!-- /Post Content Column -->

        <!-- Stanza Widgets Column -->
        <div class="col-md-4">

            {% block stanza_widgets %}
            {% endblock stanza_widgets %}

        </div>  <!-- /Stanza Widgets Column -->

    </div>  <!-- /Page Content row -->

    <hr>
<div class="row mb-4">

    <!-- Pending Comments Section -->

	{% include 'includes/jp_nocomments.html' %}
{#
    <!-- Before and After Navigation-->
	{% include 'includes/jp_before_and_after.html' %}
 #}
</div>

Edited: {{ spiel.edit_date[0:19] }}(utc) Generated: {{ spiel.publish_date }}(utc)

</div>  <!-- /Page Container -->

<!-- Footer -->

{% include 'includes/jp_footer.html' %}

<!-- Bootstrap core JavaScript -->

{% include 'includes/jp_bootstrap_js.html' %}



</body>
</html>