<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ p.tab }}</title>

	<!-- Bootstrap core CSS & Custom styles for this template -->

    {% include '/includes/jp_css.html' %}

  </head>
<body style="font-family: Courier, monospace; font-size: 16px">


<!-- joepython navbar -->
{% include '/includes/jp_navbar.html' %}

<!-- Page Container -->
<div class="container">
    <h2 class="mt-4 mb-3">{{ p.title }}
    </h2>
        <hr>

    <!-- Page Content -->
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            {% block toc_header %}
            {% endblock toc_header %}

            {% block post_content %}
            {% endblock post_content %}
        </div>  <!-- /Post Content Column -->

        <!-- Stanza Widgets Column -->
        <div class="col-lg-4">

            {% block stanza_widgets %}
            {% endblock stanza_widgets %}

        </div>  <!-- /Stanza Widgets Column -->

    </div>  <!-- /Page Content row -->

    <hr>
    <!-- Pending Comments Section -->

	{% include '/includes/jp_nocomments.html' %}


Page last generated: {{ p.gen_date }}(utc)

</div>  <!-- /Page Container -->

<!-- Footer -->

{% include '/includes/jp_footer.html' %}

<!-- Bootstrap core JavaScript -->

{% include '/includes/jp_bootstrap_js.html' %}

{% block add_scripts %}
{% endblock add_scripts %}

</body>
</html>