{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>blox Local</title>
{% endblock tab_title %}


{% block navbar %}
    <!-- dbx navbar -->
    {% include 'includes/dbx_navbar.html' %}
{% endblock navbar %}
{% block body %}


<br><br><br><br>

Select "DB-Maint" for database maintenance or click  <a href="/show_all_spiels/">here</a>.


<br><br>



Select "Generate" to generate selected blog posts or click <a href="/generate/">here</a>.

{% endblock body %}
