<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BLOX</title>

    <!-- Bootstrap core CSS & Custom styles for this template -->


<!-- Bootstrap core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/modern-business.css" rel="stylesheet">

<!-- Use for DEV only  -- Delete dev.css if detected in PROD -->
<link href="static/css/dev.css" rel="stylesheet">



  </head>

  <body style="font-family: Courier, monospace; font-size: 16px">


<!-- joepython navbar -->
{% include 'includes/dbx_navbar.html' %}


    <!-- Page Content -->
    <div class="container">

    <!-- Post Header -->
    <h2 class="mt-4 mb-3">BLOX Start Screen<br/></h2>
    <!-- /Post Header -->

      <!-- Marketing Icons Section -->
        <br/><br/>
        <table style="width: 40%">
            <tr>
                <td>
                <form action="/show_all_spiels">
                    <input type="submit" value="EDIT DB"
                        style="background: #cc5500; color: white;
                        font-size: 16px">
                </form>
                    </td>
                <td style="width: 5%"> </td>
                <td>
                To EDIT the database content.

                </td>
            </tr>
            <tr><td> <br/> </td></tr>
            <tr>
                <td>
                <form action="/" target="_blank">
                    <input type="submit" value="VIEW Blog"
                        style="background: #cc5500; color: white;
                        font-size: 16px">
                </form>
                    </td>
                <td style="width: 5%"> </td>
                <td>
                To VIEW the formatted blog in a new tab.

                </td>
            </tr>
            <tr><td> <br/> </td></tr>
            <tr>
                <td>
                <form action="/generate">
                    <input type="submit" value="GENERATE"
                        style="background: #cc5500; color: white;
                        font-size: 16px">
                </form>
                    </td>
                <td style="width: 5%"> </td>
                <td>
                To GENERATE static pages.

                </td>
            </tr>
        </table>

        <br/><br/><br/><br/>


	  </div>
    <!-- /.container -->

<!-- Footer -->

{% include 'includes/jp_footer.html' %}

	<!-- Bootstrap core JavaScript -->

<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>
