{% extends 'dbx/base.html' %}

{% set year = p_date['post_year'] %}
{% set month = p_date['post_month'] %}
{% set day = p_date['post_day'] %}

{% block tab_title %}
    <title>{{ tab_title }}</title>
{% endblock tab_title %}

{% block body %}
<br>
<h2>Spiel: "{{ spiel.title }}"</h2>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}
    <br/>
    <div class="row" style="font-size: 16px; margin-left: 20px; margin-bottom: 40px">
    <form action="/show_all_spiels">
        <input type="submit" value="Show All"
            style="background: #cc5500; color: white;
            font-size: 16px">
    </form>

    <form method="post" action="/confirm_delete_spiel/{{ spiel.sid }}/">
        <tr>
            <td>

                <input type="submit" value="Delete Spiel"
                       style="font-size: 16px; background-color: transparent; color: red; font-weight: 400; margin-left: 228px;
                       font-family: Lucida Console, Courier, monospace;
                        line-height: 150%">
            </td>
        </tr>
    </form>
    </div>
    <div class="row" style="margin-left: 20px">
    <form action="/update_spiel/{{ spiel.sid }}/" method="post">
        <table>
            <tr>
                <td align="right">
                    <label for="post_date">Post Date:</label>
                </td>
                <td>
                    <input type="date" name="post_date" id="post_date"
                           value="{{ spiel.post_date }}" autofocus
                           width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="filename">File name:</label>

                </td>
                <td>
                    <input type="text" name="filename" id="filename"
                           value="{{ spiel.filename }}"
                           width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="title">Title:</label>

                </td>
                <td>
                    <input type="text" name="title" id="title"
                           value="{{ spiel.title }}"
                           width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="stencil">Stencil:</label>

                </td>
                <td>
                    <select name="stencil" id="stencil" required>
                        {% for s_o in stencil_options %}
                            {% if spiel.stencil == s_o %}
                         <option value="{{ s_o }}" selected>{{ s_o }}</option>
                            {% else %}
                         <option value="{{ s_o }}">{{ s_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="thread">Thread:</label>

                </td>
                <td>
                    <select name="thread" id="thread" required>
                        {% for t_o in thread_options %}
                            {% if spiel.thread == t_o %}
                         <option value="{{ t_o }}" selected>{{ t_o }}</option>
                            {% else %}
                         <option value="{{ t_o }}">{{ t_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="target">Target:</label>

                </td>
                <td>
                    <select name="target" id="target" required>
                        {% for a_o in target_options %}
                            {% if spiel.target == a_o %}
                         <option value="{{ a_o }}" selected>{{ a_o }}</option>
                            {% else %}
                         <option value="{{ a_o }}">{{ a_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="author">Author:</label>

                </td>
                <td>
                    <input type="text" name="author" id="author"
                           value="{{ spiel.author }}"
                           width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="tab">Tab Title:</label>

                </td>
                <td>
                    <input type="text" name="tab" id="tab"
                           value="{{ spiel.tab }}" width="60" required>
                    <input type="submit" value="Update Spiel"
                           style="font-size: 16px; background-color: #cc5500; color: white;
                           font-family: Lucida Console, Courier, monospace;
                            line-height: 150%">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    </div>

    <div class="row" style="margin-left: 20px">
    <form action="/edit_all_stanzas/{{ spiel.sid }}/rhyme" method="post">
        <br>
        <input type="submit" value="Edit Rhymes (#)" style="background: #cc5500; color: white; font-size: 16px; margin-right: 158px"><br/>
        <input type="hidden" id="edit_all" name="edit_all" value="edit_all">
        <input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
    </form>
    <form action="/edit_all_stanzas/{{ spiel.sid }}/stanza" method="post">
        <br>
        <input type="submit" value="Edit Stanzas (#)" style="background: #cc5500; color: white; font-size: 16px"><br/>
<input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
    </form>
    </div>

    <div class="row" style="margin-left: 20px">
    <form action="/plus_stanza/{{ spiel.sid }}/rhyme" method="post">
        <br>
        <input type="submit" value="+Blank Rhyme" style="background: #cc5500; color: white; font-size: 16px; margin-right: 188px"><br/>
        <input type="hidden" id="edit_all" name="edit_all" value="edit_all">
        <input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
    </form>
    <form action="/plus_stanza/{{ spiel.sid }}/stanza" method="post">
        <br>
        <input type="submit" value="+Blank Stanza" style="background: #cc5500; color: white; font-size: 16px"><br/>
<input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
    </form>
    </div>

{% endblock body %}
