{% extends 'dbx/base.html' %}

{% block body %}

<br>
<h2>blox - DBX Maintenance: Add New spiel</h2>
<br>

{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span><br/>
{% endfor %}

    <br/>
    <br/>
    <br/>
    <br/>
    <div style="font-size: 20px">
    <form action="/add_spiel/" method="post">
        <table>
            <tr>
                <td align="right">
                    <label for="post_date">Post Date:</label>

                </td>
                <td>
                    <input type="date" name="post_date" id="post_date"
                           style="font-size: 20px" width="60" required autofocus>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="stencil">Stencil:</label>

                </td>
                <td>
                    <select name="stencil" id="stencil"
                            style="font-size: 20px" required>
                        {% for s_o in stencil_options %}
                            {% if spiel.stencil == so %}
                         <option value="{{ s_o }}" selected>{{ s_o }}</option>
                            {% else %}
                         <option value="{{ s_o }}">{{ s_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="filename">File name:</label>

                </td>
                <td>
                    <input type="text" name="filename" id="filename"
                           value="{{ spiel.filename }}"
                           style="font-size: 20px" width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="title">Title:</label>

                </td>
                <td>
                    <input type="text" name="title" id="title"
                           value="{{ spiel.title }}"
                           style="font-size: 20px" width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="author">Author:</label>

                </td>
                <td>
                    <input type="text" name="author" id="author"
                           value="{{ spiel.author }}"
                           style="font-size: 20px" width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="thread">Thread:</label>

                </td>
                <td>
                    <select name="thread" id="thread"
                            style="font-size: 20px" required>
                        {% for s_o in thread_options %}
                            {% if spiel.thread == s_o %}
                         <option value="{{ s_o }}" selected>{{ s_o }}</option>
                            {% else %}
                         <option value="{{ s_o }}">{{ s_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="target">Target:</label>

                </td>
                <td>
                    <select name="target" id="target"
                            style="font-size: 20px" required>
                        {% for s_o in target_options %}
                            {% if spiel.target == s_o %}
                         <option value="{{ s_o }}" selected>{{ s_o }}</option>
                            {% else %}
                         <option value="{{ s_o }}">{{ s_o }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="tab">Tab Title:</label>

                </td>
                <td>
                    <input type="text" name="tab" id="tab"
                           value="{{ spiel.tab }}"
                           style="font-size: 20px" width="60" required>
                </td>
            </tr>
            <tr>
                <td align="right">

                </td>
                <td><br/>
                    <input type="submit" value="Add Spiel"
                           style="font-size: 16px; background-color: #cc5500; color: white;
                           font-family: Lucida Console, Courier, monospace;
                            line-height: 150%">
                </td>
            </tr>
        </table>
    </form>
    </div>

{% endblock body %}
