{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>GenConfirm</title>
{% endblock tab_title %}

{% block navbar %}
    <!-- dbx navbar -->
    {% include 'includes/dbx_navbar.html' %}
</div>
{% endblock navbar %}


{% block body %}
<br>
<h2>blox - Confirm and Generate</h2>
<br>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}
<form action="/gen_selected/" method="post">
        <table>

        {% for spiel in spiel_list %}
            <tr style="line-height: 150%">
                <td><input type="checkbox" name="spiel_{{ spiel.sid }}" value="{{ spiel.sid }}"> </td>
                <td> {{ spiel.sid }}</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> {{ spiel.post_date }}</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> {{ spiel.title[0:30] }}...</td>
            </tr>
        {% endfor %}
        </table>
        <input type="checkbox" name="reverse" value="reverse">REVERSE Selections
    <br>
    <br>
        <input type="submit" value="Select (Multiple selections OK)" style="background: #cc5500; color: white; font-size: 16px">
    <br/><br/>
    <hr/>
    </form>
{% endblock body %}
