/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */


/*  --------- DO NOT COPY THIS FILE TO PRODUCTION ------------

BLOX modifications to indicate DEVELOPMENT mode by changing NavBar

*/

.bg-dark {
  background-color: #098652 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1.0);
}

.navbar-brand .nav-brand:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.75);
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.75);
}
        /* Navbar container */
.navbar {
  background-color: #098652;
  font-family: Lucida Console, Courier, monospace;
}


/*  --------- DO NOT COPY THIS FILE TO PRODUCTION ------------

BLOX modifications to indicate DEVELOPMENT mode by changing NavBar

*/