/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 28vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.code-pre {
	margin-left: 40px;
}

/* my-4-blx positions side bars to top of column */
.mt-4-blx,
.my-4-blx {
  margin-top: 0px !important;
}

.mb-4-blx,
.my-4-blx {
  margin-bottom: 30px !important;
}

.lead {
  font-size: 1.10rem;
  font-weight: 300;
}
