<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    {% block tab_title %}
        <title>{{ tab_title }}</title>
    {% endblock tab_title %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Use for DEV only  -- Delete dev.css if detected in PROD -->
    <link href="/static/css/dev.css" rel="stylesheet">
</head>
{% endblock head %}

<body style="margin-left: 60px; margin-right: 40px; font-family: Lucida Console, Courier, monospace">

{% block navbar %}
<!-- dbx navbar -->
{% include 'includes/dbx_navbar.html' %}
{% endblock navbar %}


{% block body %}
    {{ text_output }}
{% endblock body %}

{%  block keyboard %}
    {% include 'includes/kbd_cuppa.html' %}
{%  endblock keyboard %}

</body>
</html>
