{% extends 'dbx/base.html' %}


{% block body %}
<br>
<h2>Edit Rhymes for: "{{ spiel.title }}"</h2>
<br>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}<br>
    
<div>
    <form method="post" action="/update_stanzas/{{ spiel.sid }}/rhyme" id="rhymes">
    <div class="row">
    <input type="Submit" value="Cancel" name="cancel" style="background: #cc5500; color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update (return)" style="background: #cc5500; color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update-->Stanzas" name="stanza" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="submit" value="+Blank Rhyme" name="ins_dn_999900" style="background: #cc5500;
           color: white; font-size: 16px">
    </div>
    <div class="row">
    <table>
    {% for c in spiel.rhymes %}
        <tr>
            <td>
                <table style="margin-top: 20px">
                <tr style="margin-right: 0px">
                    <td>
                        <input type="number" name="seq_{{ loop.index }}" value="{{ c.e_seq }}" style="text-align: right; width: 40%; font-size: 14px"
                >
                    </td>
                </tr>
                <tr style="margin-right: 0px">
                    <td style="font-size: 80%">
                        <button type="submit" value="+&uarr;" name="ins_up_{{  c.e_seq  }}">+&uarr;</button>
                        <button type="submit" value="+&darr;" name="ins_dn_{{ c.e_seq  }}">+&darr;</button>
                        <input type="Submit" value="Upd" name="update_{{ c.e_seq }}" style="background: #cc5500;
                               color: white; width: 40%; font-size: 14px">
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px">
                        <input type="hidden" name="orig_seq_{{ loop.index }}" value="{{ c.d_seq }}">
                    </td>
                </tr>
                <tr>
                    <td>
                    <select name="part_1_{{ loop.index }}" style="font-size: 14px">
                        {{ c.dropdown | safe}}
                    </select>
                    </td>
                </tr>
                </table>
            </td>
            <td>
                {% set bg = 'white' %}
                {% if c.part_1 == 'blue_box' %}
                    {% set bg = '#edf2f7' %}
                {% endif %}
                {% if c.part_1 == 'code' %}
                    {% set bg = '#e6e6e6' %}
                    <textarea rows="{{ c.height }}" cols="70" name="part_2_{{ loop.index }}"
                              style="font-size: 16px; font-family: Courier, monospace; background-color: {{ bg }}; margin-top: 20px">{{ c.part_2 }}</textarea>
                {% else %}
                <textarea rows="{{ c.height }}" cols="68" name="part_2_{{ loop.index }}"
                          style="font-size: 16px; background-color: {{ bg }}; margin-top: 20px"
                          {% if c.e_seq == loc %}
                              autofocus
                          {% else %}
                                id="#{{ c.e_seq }}_{{ loc }}"
                          {% endif %}>{{ c.part_2 }}</textarea>

                {% endif %}

                <br/>
            </td>
            <td>
                <button type="submit" value="-" name="delete_{{ c.e_seq }}">-</button>
            </td>
        </tr>
    {% endfor %}

    </table>
    </div>
    <br/><br/>
    <div class="row">
    <input type="Submit" value="Cancel" name="cancel" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update (return)" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update-->Stanzas" name="stanza" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="submit" value="+Blank Rhyme" name="ins_dn_999900" style="background: #cc5500;
           color: white; font-size: 16px">
    <input type="hidden" name="spiel_num" value="{{ spiel.sid }}">
    </div>
    </form>
</div>
<br/><br/>

{% endblock body %}
