
    <!-- Before and After-->
        <div class="col-md-4">
        <br/>
            <span style="margin-left: 14px">[{{ spiel.thread }} Thread]</span>
            <strong><a href="previous" style="margin-left: 14px">&lt&lt;Prev</a></strong>
            <strong><a href="next" style="margin-left: 6px"> Next&gt;></a></strong>
            <span style="margin-left: 14px">[{{ spiel.thread }} Thread]</span>
            <select name="last_10" onchange="location = this.value;" style="width: 94px; margin-left: 14px">
             <option value="#">Last 10</option>
                {% for post in bna['t10'] %}
                    <option value="{{ post.URI }}">
                    {{ post.post_date }} {{ post.title }}
                    </option>
                {% endfor %}
        </select>
            <br/>
            <span style="margin-left: 14px">[{{ spiel.thread }} Thread]</span>
            <select name="last_10" onchange="location = this.value;" style="width: 114px; margin-left: 14px">
             <option value="#">All {{ spiel.thread }}</option>
                {% for post in bna['thread'] %}
                    <option value="{{ post.URI }}">
                    {{ post.post_date }} {{ post.title }}
                    </option>
                {% endfor %}
        </select>
            <br/><br/>

            <select name="last_10" onchange="location = this.value;" style="width: 94px; margin-left: 38px">
             <option value="#">Last 10</option>
                {% for post in bna['a10'] %}
                    <option value="{{ post.URI }}">
                    {{ post.post_date }} {{ post.title }}
                    </option>
                {% endfor %}
        </select>
            <span style="margin-left: 22px">[All Threads]</span>
            <br/>

            <select name="all_posts" onchange="location = this.value;" style="width: 110px; margin-left: 22px">
             <option value="#">All Posts</option>
                {% for post in bna['all'] %}
                    <option value="{{ post.URI }}">
                    {{ post.post_date }} {{ post.title }}
                    </option>
                {% endfor %}
        </select>
            <span style="margin-left: 22px">[All Threads]</span>

	</div>
    <!-- /Before and After-->
