
<!-- Footer -->
<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Tipton Cole + Company 2018 - 2019</p>

  </div>
  <!-- /.container -->
</footer>

