

<!-- Pending Comments Section -->
  <div class="col-md-8">
    <h4>Comments</h4>
    <p>This site is served from static web pages - so no comments.  You should feel free to send comments via email.  On this site our name is Joe Python.  The email address is our first name at joepython.com. </p>
  </div>




