<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">JoePython: Programming In Public&trade;</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Threads
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">

              <a class="dropdown-item" href="/blog/BLOX.html">BLOX</a>
              <a class="dropdown-item" href="/blog/utility.html">Util</a>
              <a class="dropdown-item" href="/blog/20yrs.html">20yrs</a>
              <a class="dropdown-item" href="/blog/2018/10/10/services.html">Services</a>
              </div>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://tipton.com" target="_blank">Related</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
